%h3 Pick who you want to go first:

%form{ :action => "/decide", :method => "post" }
  %input{ :type => "submit", :name => "first_turn", :value => "Computer" }
  %input{ :type => "submit", :name => "first_turn", :value => "Player" }