%h3 Pick who you want to go first:

%form{ :action => "/decide", :method => "post" }
  %input{ :type => "radio", :name => "board", :value => "" } 3x3
  %input{ :type => "radio", :name => "board", :value => "4x4" } 4x4
  %input{ :type => "submit", :name => "first_turn", :value => "Computer" }
  %input{ :type => "submit", :name => "first_turn", :value => "Player" }